// Media queries

// Break points for tablets
$breakpoint: 830px;

@mixin respond-to($media) {
  @if $media == handhelds {
    @media only screen and (max-width: $breakpoint - 1) {
      @content;
    }
  } @else if $media == wide-screens {
    @media only screen and (min-width: $breakpoint) {
      @content;
    }
  }
}




// Below is an example of how to use mixin
/*
form {
    display: flex;
    width: 80vw;

    input {
        width: 80%;
        height: 40px;

        @include respond-to(wide-screens) {
            height: 50px;
        }
    }

    button {
       all: unset;
       width: 51px;
       height: 40px;

       @include respond-to(wide-screen) {
        height: 50px;
    }
  }

*/