// All sass variables

// Import of Google Fonts
// Source Sans Pro
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Source+Sans+Pro&display=swap');

// Fonts
$text: 'Source Sans Pro', sans-serif;

// Colors
$black: #000000; 
$white: #ffffff;
