// // In "project" we store variables, typography, break-points, etc.
@import './project/_project';

* {
    box-sizing: border-box;
    font-family: $text;
}

////////// typography //////////


a,
a:visited {
  color: $black;
  cursor: pointer;
}


////////// document //////////
body {
    background-color: $white;
    width: 100vw;
    overflow-x: hidden;
}

.header {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}